PORT=3000
JWT_SECRET=change-me-in-production
DATABASE_URL=postgresql://postgres:1234@localhost:5432/akonet
TWITCH_CLIENT_ID=i58yfqn5zmbvf6ks1uw7kjyblrddjl
TWITCH_CLIENT_SECRET=2xawdqo0kp0j4sqfugq6ewi6006lu7
TWITCH_REDIRECT_URI=http://localhost:3000/auth/twitch/callback
FRONTEND_OAUTH_REDIRECT=http://localhost:5173/auth/twitch/callback
